[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = git://github.com/JakeWharton/ActionBarSherlock.git
[submodule "AndroidBillingLibrary"]
	path = AndroidBillingLibrary
	url = git://github.com/robotmedia/AndroidBillingLibrary.git
[submodule "SlidingMenu"]
	path = SlidingMenu
	url = git://github.com/AEinsam/SlidingMenu.git
