<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.meiolania.apps.habrahabr"
    android:versionCode="4"
    android:versionName="1.0 beta-4"
    android:installLocation="auto">

    <uses-sdk android:minSdkVersion="4" />
    
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme"
        android:hardwareAccelerated="true"
        android:debuggable="true">
        
        <activity
            android:label="@string/app_name"
            android:name=".ui.dashboard.DashboardActivity"
            android:configChanges="orientation|keyboard|keyboardHidden">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.dashboard.AboutInfoActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".ui.dashboard.PreferencesActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        
        <activity android:name=".ui.dashboard.SignInActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        
        <activity android:name=".ui.people.PeopleActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".ui.people.PeopleShowActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        
        <activity android:name=".ui.companies.CompaniesActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".ui.companies.CompaniesShowActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        
        <activity android:name=".ui.events.EventsActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".ui.events.EventsShowActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        
        <activity android:name=".ui.qa.QaActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".ui.qa.QaShowActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".ui.qa.QaCommentsActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        
        <activity android:name=".ui.hubs.HubsActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        
        <activity android:name=".ui.posts.PostsActivity"
            android:uiOptions="splitActionBarWhenNarrow"
            android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".ui.posts.PostsShowActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".ui.posts.PostsCommentsActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        
        <activity android:name=".ui.dashboard.HabrahabrIntentFilter">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme="http" android:pathPattern="/.*" android:host="habrahabr.ru"></data>
            </intent-filter>
        </activity>
        
        <service android:name="net.robotmedia.billing.BillingService" />
		<receiver android:name="net.robotmedia.billing.BillingReceiver">
			<intent-filter>
				<action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
				<action android:name="com.android.vending.billing.RESPONSE_CODE" />
				<action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
			</intent-filter>
		</receiver>
        
    </application>

</manifest>