<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.meiolania.apps.habrahabr"
    android:versionCode="3"
    android:versionName="1.0 beta-3"
    android:installLocation="auto">

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar"
        android:debuggable="true">
        
        <activity
            android:label="@string/app_name"
            android:name=".ui.activities.DashboardActivity">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.AboutInfoActivity" />
        <activity android:name=".ui.activities.PreferencesActivity" />
        
        <activity android:name=".ui.activities.SignInActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".ui.activities.ProfileActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        
        <activity android:name=".ui.activities.PeopleActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".ui.activities.PeopleSearchActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".ui.activities.PeopleShowActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        
        <activity android:name=".ui.activities.CompaniesActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".ui.activities.CompaniesShowActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        
        <activity android:name=".ui.activities.EventsActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".ui.activities.EventsShowActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        
        <activity android:name=".ui.activities.QaActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".ui.activities.QaShowActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".ui.activities.QaCommentsActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        
        <activity android:name=".ui.activities.BlogsActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        
        <activity android:name=".ui.activities.PostsActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".ui.activities.PostsShowActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity android:name=".ui.activities.PostsCommentsActivity" android:configChanges="orientation|keyboard|keyboardHidden" />
        
        <activity android:name=".ui.activities.HabrahabrIntentFilter">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme="http" android:pathPattern="/.*" android:host="habrahabr.ru"></data>
            </intent-filter>
        </activity>
        
    </application>

</manifest>