.post .content a:visited{color:#909;}
.post .content{font-size:13px;margin-bottom:10px;line-height:160%;font-family:Verdana, sans-serif;}
.post .content img{max-width:100%;}
.post .content img[align="left"] {margin-right: 30px;margin-top: 5px;margin-bottom: 5px;}
.post .content img[align="right"] {margin-left: 30px;margin-top: 5px;margin-bottom: 5px;}
.post .content img[align="center"] {display: block;margin: 0 auto !important;margin-top: 5px;margin-bottom: 5px;}   

.post .content ul,
.post .content ol{margin: 1.5em 1em 1.5em 3em;padding: 0;}
.post .content ul{margin-left: 2.65em;list-style: disc;}
.post .content ol{list-style: decimal;}
.post .content ul li,
.post .content ol li{margin: 0;padding: 0;}
.post .content h1, 
.post .content h2, 
.post .content h3, 
.post .content h4, 
.post .content h5, 
.post .content h6 {color:#999999;font-family:Verdana,sans-serif;font-weight:normal;margin:0 0 0 0;padding:0;}
.post .content h1 {font-size:162.5%;letter-spacing:-1px;margin-bottom:0.7em;}
.post .content h2 {font-size:150%;}
.post .content h3 {font-size: 137.5%;}
.post .content h4 {font-size: 120%;}
.post .content h5 {font-size: 110%;}
.post .content h6 {font-size: 100%;}

