@charset "utf-8";

/* CSS Document */
body {
	border: 0;
	font-size: 100%;
	font-style: normal;
	text-align: justify;
	text-justify: auto;
	vertical-align: baseline;
	padding: 0px;
}

a {
	color: #6DA3BD;
}

a:visited {
	color: #909;
}

blockquote {
	border-left: 2px solid #BBB;
	margin: .83em 0;
	padding-left: 10px;
	clear: both;
	quotes: none;
	display: block;
}

h1 {
	font-size: 150%;
	letter-spacing: -1px;
	margin-bottom: 0.7em;
	color: #999;
	font-family: Verdana, sans-serif;
	font-weight: normal;
	margin: 0 0 0 0;
	padding: 0;
	display: block;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

h3 {
	color: #999;
	font-family: Verdana, sans-serif;
	font-size: 130%;
	font-weight: normal;
	margin: 0 0 0 0;
	padding: 0;
}

h4 {
	color: #999;
	font-family: Verdana, sans-serif;
	font-size: 120%;
	font-weight: normal;
	margin: 5px 5px;
}

h5 {
	color: #999;
	font-family: Verdana, sans-serif;
	font-size: 110%;
	font-weight: normal;
	margin: 5px 5px;
}

h6 {
	color: #999;
	font-family: Verdana, sans-serif;
	font-size: 100%;
	font-weight: normal;
	margin: 0 0 0 0;
	padding: 0;
}

iframe {
	max-width: 100%;
	background: url("file:///android_asset/video_unavailible.png");
	indent: -9999px;
}

img {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	vertical-align: middle;
}

pre {
	background: #f8f8f8;
	border: 2px solid #E1E1E8;
	-webkit-border-radius: 3px;
	display: block;
	font-size: 90%;
	overflow: scroll;
	padding: 0.5em;
}

pre code {
	text-align: left;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

table {
	border: 1px solid #CCC;
	border-collapse: collapse;
	border-spacing: 0;
	clear: both;
	margin: 1.5em 0;
	width: 100%;
}

td,th {
	padding: .3em;
	border: 1px solid #CCC;
	word-break: break-word;
}

ul li {
	list-style: disc outside;
}

.post .content {
	overflow: hidden;
}